// VARS

$mainColor: #3FBE6B;
$mainColorHover: #1e8040;

// GLOBAL

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.1;
    color: #161616;

    scroll-behavior: smooth;
}
body {
    background: #F7F7F7;

    &.locked {
        nav {
            backdrop-filter: none;
        }
    }
}
.body-2 {
    background: #3fbe6ba9;
    height: 100vh;
    
}
a {
    text-decoration: none;
}

.swiper-button-prev, .swiper-button-next {
    width: 45px;
    height: 45px;
    background: #EFEFEF;
    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';
    }
}

.swiper {
    z-index: 0;
}
.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.locked {
    overflow: hidden;
    position: relative;
    
    .swiper {
        z-index: -10;
    }
}

.btn-cost {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 0.898rem + 0.51vw, 1.175rem);
    padding: clamp(0.625rem, 0.489rem + 0.68vw, 1.125rem);
    background: $mainColor;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    max-width: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 380px;
    width: 100%;

    transition: background .3s;
    &:hover {
        background: $mainColorHover;
    }
}

.section-title {
    font-size: clamp(1.25rem, 0.849rem + 1.89vw, 2.5rem);
    color: #161616;
    text-align: center;

    padding-top: 50px;
}

.fw400 {
    font-weight: 400;
}
.fw500 {
    font-weight: 500;
}
.fw600 {
    font-weight: 600;
}

.btn-long {
    font-weight: 500;
    padding: clamp(0.625rem, 0.425rem + 0.94vw, 1.25rem);
    background: $mainColor;
    border-radius: 10px;
    color: #fff;
    font-size: clamp(1rem, 0.84rem + 0.75vw, 1.5rem);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;

    span {
        font-weight: 800;
    }
}



// HEADER
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s;
}

// Navbar
nav {
    background: rgba(81, 81, 81, 0.3);
    backdrop-filter: blur(10px);
    // background: #EFEFEF;
    // background: rgb(242, 242, 242, 0.5);
    overflow: hidden;
    z-index: 5;
    // transition: all .5s;


    &.fixed__nav {

        .navbar {
            transition: all .5s;
            padding: 10px 0;
        }
    }
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: clamp(0.938rem, 0.737rem + 0.94vw, 1.563rem) 0;

    .btn-cost {
        max-width: 260px;
        margin: 0 30px 0 auto;
        padding: 15px;
        font-size: 18px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.logo {
    margin-right: auto;
    a {
        color: white;
    }
}

.menu {
    display: flex;
    gap: 30px;
    padding: 0 20px;

    // .menu__item
    &__item {
        position: relative;

        &::after {
            content: '';
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100%;
            height: 8px;
            background: #000;
        }
    }

    // .menu__item-link
    &__item-link {
        font-weight: 500;
        font-size: clamp(0.9rem, 0.788rem + 0.44vw, 0.9rem);
        color: white;
    }
}

.burger {
    display: none;
    cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: 1150px) {
    // .menu
    .menu {
        position: fixed;
        background: #131418;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 22;
            animation: fade 0.1s linear;
        }
    }

    // .burger
    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &.active-burger {
            &:before {
                background: #fff;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background: #fff;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fff;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: #fff;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }

    // .menu__item
    .menu__item {
        margin-top: 15px;
    }

    // .menu__link
    .menu__item-link {
        color: white;
    }
}




// HERO

.hero {
    height: 100vh;
    width: 100%;
    // padding-top: 20%;
    color: #fff;

    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .btn-cost {
        max-width: 380px;
    }
    .container {
        max-height: clamp(37.5rem, 31.285rem + 29.25vw, 56.875rem);
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;

        display: flex;
        align-items: center;
    }
    // .hero__wrapper
    &__wrapper {
        max-width: 910px;
        width: 100%;
        color: #fafafa;

        // max-height: clamp(37.5rem, 31.285rem + 29.25vw, 56.875rem);
        // height: 100%;
        // margin: auto 0;

        // display: flex;
        // justify-content: center;

        @media (max-width: 480px) {
            text-align: center;
        }
    }
    // .hero__title
    &__title {
        font-size: clamp(1.625rem, 1.144rem + 2.26vw, 2.9rem);
        line-height: 1.15;
    }
    // .hero__pretitle
    &__pretitle {
        font-weight: 500;
        font-size: clamp(1.375rem, 1.014rem + 1.7vw, 2.3rem);

        padding-top: clamp(1.25rem, 0.849rem + 1.89vw, 2.5rem);
        padding-bottom: 20px;
    }
    // .hero__text
    &__text {
        font-weight: 500;
        font-size: clamp(1.125rem, 0.884rem + 1.13vw, 1.575rem);
    }
    &__num {
        display: block;
        font-weight: 600;
        font-size: clamp(1.125rem, 0.884rem + 1.13vw, 1.575rem);
        margin-bottom: clamp(2.5rem, 1.297rem + 5.66vw, 6.25rem);
        margin-top: 20px;
        color: #fafafa;
    }
}



// PRODUCT

.product {
    // .product__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        align-items: center;

        margin: clamp(1.25rem, 0.649rem + 2.83vw, 3.125rem) 0;

        @media (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }
    // .product__img
    &__img {

        img {
            max-width: 100%;
            width: 100%;
            border-radius: 20px;
        }
    }
    // .product__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: clamp(0.938rem, 0.637rem + 1.42vw, 1.875rem);
    }
    // .product__content-text
    &__content-text {
        font-size: clamp(1rem, 0.88rem + 0.57vw, 1.2rem);
    }
    // .product__content-inner
    &__content-inner {
        display: flex;
        gap: clamp(0.625rem, 0.425rem + 0.94vw, 1.25rem);
        align-items: center;
        flex-wrap: wrap;

        @media (max-width: 480px) {
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // text-align: center;
        }
    }
    // .product__content-item
    &__content-item {
        font-size: clamp(1rem, 0.88rem + 0.57vw, 1.3rem);
        // color: #fff;
        padding: 10px;
        border-radius: 10px;
        background: #EFEFEF;
    }
    // .product__grid
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(0.625rem, 0.425rem + 0.94vw, 1.25rem);

        margin: clamp(1.563rem, 1.061rem + 2.36vw, 3.125rem) 0;

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 8px;
        }
       
    }
    // .product__grid-item
    &__grid-item {
        font-weight: 600;
        background: #EFEFEF;
        border: 1px solid $mainColor;
        border-radius: 10px;

        font-size: clamp(0.75rem, 0.55rem + 0.94vw, 1.175rem);

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: clamp(0.375rem, 0.094rem + 1.32vw, 1.25rem);
    }
}

.item-brown {
    background: #C65840;
    color: #fff;
}
.item-red {
    background: #F06060;
    color: #fff;
}
.item-gray {
    background: #969696;
    color: #fff;
}
.item-white {
    background: #F9F9F9;
    color: #161616;
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.benefits {
    margin-top: clamp(1.563rem, 1.061rem + 2.36vw, 3.125rem);
    // .benefits__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(0.5rem, 0.259rem + 1.13vw, 1.25rem);

        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .benefits__item
    &__item {

        iframe {
            max-width: 100%;
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
    }
    // .benefits__item-img
    &__item-img {
        max-width: 100%;
        width: 100%;
        border-radius: 10px;
    }
    // .benefits__item-title
    &__item-title {
        font-size: clamp(1rem, 0.84rem + 0.75vw, 1.5rem);
        padding: clamp(0.625rem, 0.324rem + 1.42vw, 1.563rem) 0;
    }
    // .benefits__item-menu
    &__item-menu {
    }
    // .benefits__item-text
    &__item-text {
        font-weight: 400;
        font-size: clamp(0.75rem, 0.63rem + 0.57vw, 1.125rem);
        padding-bottom: 10px;
        padding-left: 15px;

        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 4px;
            height: 4px;
            background: #000;
            border-radius: 999px;

            @media (max-width: 480px) {
                top: 6px;
            }
        }
    }
}




// PRICE

.price {
    // .price__title
    &__title {
        font-weight: 500;
        font-size: clamp(1rem, 0.84rem + 0.75vw, 1.5rem);
        text-align: center;
        margin: 25px 0;
    }
    // .price__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: clamp(0.5rem, 0.259rem + 1.13vw, 1.25rem);

        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    // .price__item
    &__item {
    }
    // .price__item-img
    &__item-img {
        max-width: 100%;
        width: 100%;
        max-height: 300px;
        height: 100%;
        border-radius: 10px;

        @media (max-width: 480px) {
            max-height: 190px;
        }
    }
    // .price__item-title
    &__item-title {
        // font-size: clamp(0.875rem, 0.755rem + 0.57vw, 1.25rem);
        margin: 15px 0 10px;
        text-align: center;

        @media (max-width: 480px) {
            font-size: 10px;
        }
    }
    // .price__item-text
    &__item-text {
        // font-size: clamp(0.875rem, 0.755rem + 0.57vw, 1.25rem);
        font-weight: 700;
        text-align: center;

        @media (max-width: 480px) {
            font-size: 10px;
        }

        span {
            color: $mainColor;
        }
    }
}




// TAKE

.take {
    // .take__wrapper
    &__wrapper {
        font-weight: 400;
        line-height: 1.15;
        margin-top: 40px;

        display: grid;
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        gap: 20px 20px; 
        grid-template-areas: 
            "item-1 item-2"
            "item-1 item-2"
            "item-3 item-2"
            "item-4 item-2"
            "item-4 item-2"; 

        .item-1 { grid-area: item-1; }
        .item-2 { grid-area: item-2; }
        .item-3 { grid-area: item-3; }
        .item-4 { grid-area: item-4; }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas: 
            "item-1"
            "item-2"
            "item-3"
            "item-4"; 
        }
    }
    // .take__item
    &__item {
        background: #EFEFEF;
        border-radius: 20px;
        padding: clamp(0.625rem, 0.456rem + 0.85vw, 1.25rem);

        display: flex;
        flex-direction: column;
        gap: clamp(0.625rem, 0.44rem + 0.93vw, 1.25rem);
    }
    // .take__item-top
    &__item-top {
        display: flex;
        align-items: flex-start;
        gap: clamp(0.625rem, 0.44rem + 0.93vw, 1.25rem);
    }
    // .take__item-num
    &__item-num {
        min-width: clamp(2.5rem, 2.161rem + 1.69vw, 3.75rem);
        min-height: clamp(2.5rem, 2.161rem + 1.69vw, 3.75rem);

        display: flex;
        align-items: center;
        justify-content: center;

        font-weight: 700;
        font-size: clamp(1.375rem, 1.002rem + 1.86vw, 2.75rem);

        color: $mainColor;
        border: 1px solid $mainColor;
        border-radius: 999px;
    }
    // .take__item-text
    &__item-text {
        font-size: clamp(0.75rem, 0.648rem + 0.51vw, 1.125rem);
        span {
            font-weight: 700;
        }
    }
    // .take__item-menu
    &__item-menu {
        margin-left: 24px;
        font-size: clamp(0.75rem, 0.648rem + 0.51vw, 1.125rem);
    }
    // .take__item-green
    &__item-green {
        background: $mainColor;
        border-radius: 20px;
        padding: clamp(0.625rem, 0.456rem + 0.85vw, 1.25rem);
        color: #fff;

        p {
            font-weight: 600;
            line-height: 1.1;
            font-size: clamp(0.875rem, 0.706rem + 0.85vw, 1.3rem);
        }
    }
}




// PAY

.pay {
    // .pay__wrapper
    &__wrapper {
        grid-template-areas: 
            "item-1 item-2"
            "item-1 item-2"
            "item-1 item-2"
            "item-3 item-2";

        .item-1 { grid-area: item-1; }
        .item-2 { grid-area: item-2; }
        .item-3 { grid-area: item-3; }

        .take__item-top {
            align-items: center;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            grid-template-areas: 
                "item-1"
                "item-2"
                "item-3";
        }
    }
    .take__item-green {
        text-align: center;
        margin-top: 20px;

        @media (max-width: 768px) {
            text-align: left;
        }
    }
}



// ABOUT

.about {
    // .about__wrapper
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        align-items: center;
        margin-top: 40px;

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    // .about__content
    &__content {
    }
    // .about__text
    &__text {
        font-weight: 400;
        font-size: clamp(0.6rem, 0.6rem + 0.45vw, 1.25rem);
        span {
            font-weight: 600;
        }
    }
    // .about__img
    &__img {
        max-width: 100%;
        width: 100%;
        border-radius: 10px;
    }
}




// PORTFOLIO (SWIPER)

.portfolio {
    .container {
        @media (max-width: 480px) {
            padding-right: 0;
        }
    }
    // .portfolio__swiper
    &__swiper {
        margin-top: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);

        @media (max-width: 480px) {
            // padding-bottom: 50px;
        }
    }
    // .portfolio__swiper-wrapper
    &__swiper-wrapper {
    }
    // .portfolio__swiper-slide
    &__swiper-slide {
    }
    // .portfolio__img
    &__img {
        max-width: 100%;
        width: 100%;
        height: 380px;
        border-radius: 20px;

        @media (max-width: 1200px) {
            height: 300px;
        }
    }
    &__swiper-btns {

        @media (max-width: 480px) {
            display: none;
            position: relative;
            width: 60%;
            margin: 0 auto;
            bottom: 0;
            left: 0;
        }
    }
    // .portfolio__swiper-prev
    &__swiper-prev {
    }
    // .portfolio__swiper-next
    &__swiper-next {
    }
}




// VIDEO

.video {
    // .video__wrapper
    &__wrapper {
        margin-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);

        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: repeat(4, 1fr);
        
        gap: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);

        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 480px) {
            grid-template-columns: 1fr;
        }
    }
    // .video__item
    &__item {
    }
    // .video__item-box
    &__item-box {
        display: flex;
        flex-direction: column;
        gap: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
    }
    // .video__item-img
    &__item-img {
        max-width: 100%;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    iframe {
        max-width: 100%;
        width: 100%;
        height: 180px;
        border-radius: 10px;
    }
    // .video__item-text
    &__item-text {
        color: #161616;
        // font-size: clamp(0.875rem, 0.761rem + 0.57vw, 1.188rem);
        // font-size: clamp(1.063rem, 0.949rem + 0.57vw, 1.375rem);
        font-size: clamp(0.875rem, 0.762rem + 0.48vw, 1.125rem);
        line-height: 1;
    }
}




// REVIEW

.review {
    margin-bottom: clamp(1.875rem, 1.648rem + 1.14vw, 2.5rem);


    .benefits {
        margin-top: 0;

        &__wrapper {
            @media (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media (max-width: 480px) {
                grid-template-columns: 1fr;
            }

            iframe {
                max-width: 100%;
                width: 100%;
                height: 180px;
                border-radius: 10px;
            }
        }
    }
    .benefits__item-title {
        font-size: clamp(0.875rem, 0.807rem + 0.34vw, 1.125rem);
    }

    &__green {
        font-weight: 500;
        background: #3FBE6B;
        border-radius: 20px;
        padding: clamp(0.625rem, 0.456rem + 0.85vw, 1.25rem);
        color: #fff;
        margin-top: 10px;

        a {
            color: #fff;
            text-decoration: underline;
        }
    }
    // .review__swiper
    &__swiper {
        padding-top: clamp(1.875rem, 1.42rem + 2.27vw, 3.125rem);
        padding-bottom: 80px;
    }
    // .review__swiper-wrapper
    &__swiper-wrapper {
    }
    // .review__swiper-slide
    &__swiper-slide {
    }
    // .review__slide
    &__slide {
        padding: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
        background: #EFEFEF;
        border-radius: 10px;
    }
    // .review__slide-top
    &__slide-top {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    // .review__slide-img
    &__slide-img {
        border-radius: 999px;

        min-width: 60px;
        min-height: 60px;
        width: 60px;
        height: 60px;
        object-fit: cover;

        @media (max-width: 480px) {
            min-width: 50px;
            min-height: 50px;
            width: 50px;
            height: 50px;
        }
    }
    // .review__slide-name
    &__slide-name {
        font-size: clamp(1rem, 0.966rem + 0.17vw, 1.125rem);
    }
    // .review__slide-text
    &__slide-text {
        font-weight: 400;
        padding-top: 15px;
        font-size: clamp(0.875rem, 0.83rem + 0.23vw, 1rem);
        line-height: 1.15;
    }
    // .review__swiper-btns
    &__swiper-btns {

        @media (max-width: 1100px) {
            position: relative;
            width: 40%;
            margin: 0 auto;
            bottom: -40px;
            left: 0;
        }
    }
    // .review__swiper-prev
    &__swiper-prev {
    }
    // .review__swiper-next
    &__swiper-next {
    }
}




// FORM

.contact-form{
    max-width: 100%; 
    // min-width: 50%;
    display: flex;
    flex-direction: column;
    gap: clamp(0.625rem, 0.456rem + 0.85vw, 1.25rem);

    text-align: center;
}
input[type=text], textarea {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 0.898rem + 0.51vw, 1.175rem);
    outline: none;
    max-width: 100%;
    padding: clamp(0.625rem, 0.489rem + 0.68vw, 1.125rem);
    text-align: center;
    
    background: #F3F3F3;
    border: 1px solid $mainColor;
    border-radius: 10px;

    transition: all .4s;
    &::placeholder {
        color: #9B9B9B;
    }
}
input[type=text]:focus, textarea:focus {
    transition: all .4s;
}
input[type=button]{
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 0.898rem + 0.51vw, 1.175rem);
    padding: clamp(0.625rem, 0.489rem + 0.68vw, 1.125rem);
    background: $mainColor;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    color: #fff;
    max-width: 100%;
}
input[type=button]:hover{
    color: #FFF;
    transition: all .2s;
}
input[type=button]:active{
    transition: all .4s;
    top: 3px;
}
input[type=button]:focus{
    position: relative;
    transition: all .2s;
    outline: none;
}



.form {
    margin-bottom: clamp(2.5rem, 1.591rem + 4.55vw, 5rem);
    // .form__wrapper
    &__wrapper {
        background: #EFEFEF;
        border-radius: 20px;
        padding: clamp(0.938rem, 0.71rem + 1.14vw, 1.563rem);

        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
    // .form__title
    &__title {
        color: $mainColor;
        font-size: clamp(1.25rem, 0.905rem + 1.72vw, 1.675rem);
    }
    // .form__icons
    &__icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px 20px;
        max-width: 100%;
        width: 100%;
        
        @media (max-width: 968px) {
            display: flex;
            max-width: 170px;
            margin: 10px auto 0;
            gap: 18px;
        }
        @media (max-width: 480px) {
            max-width: 100%;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: flex-start;
            // gap: 6px;
        }
    }
    // .form__icons-link
    &__icons-link {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;
        color: #000;
        font-size: 20px;
        transition: all .3s;

        &:hover {
            color: $mainColor;
            path {
                fill : $mainColor;

            }
        }
        svg {
            transition: all .3s;
            // @media (max-width: 480px) {
            //     width: 20px;
            //     height: 20px;
            //     min-height: 20px;
            //     min-width: 20px;
            // }
        }
        path {
            fill: #161616;

            transition: all .4s;
        }

        @media (max-width: 968px) {
            p {
                display: none;
            }
        }
        @media (max-width: 480px) {
            gap: 7px;
            p {
                display: block;
                font-size: 12px;
            }
        }
    }
    // .form__map
    &__map {
        iframe {
            max-width: 500px;
            max-height: 400px;
            min-height: 300px;
            height: 100%;
            width: 100%;
        }
        border-radius: 20px;
    }
}




// FOOTER

.footer {
    padding: clamp(0.938rem, 0.369rem + 2.84vw, 2.5rem) 0;
    background: #EFEFEF;

    .logo {
        @media (max-width: 768px) {
            margin: 0 auto;
        }

        a {
            color: #000;
        }
    }
    // .footer__wrapper
    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
    }
    // .footer__text
    &__text {
        font-weight: 400;
        font-size: clamp(1rem, 0.955rem + 0.23vw, 1.125rem);
    }
}



// Thanks 

.thanks {
    padding: 250px 0;
    // .thanks__wrapper
    &__wrapper {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 30px;
        padding: 30px 15px;
        background: #FFFFFF;
        border-radius: 20px;
    }
    // .thanks__title
    &__title {
        font-weight: 700;
        font-size: 30px;
        text-align: center;
        color: #000;
        padding-top: 15px;
    }
    // .thanks__text
    &__text {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        color: #000;
    }
    // .thanks__back
    &__back {
        font-weight: 600;
        font-size: 24px;
        text-align: center;
        text-decoration: underline;
    }
}



.fancybox__content {
    width: 700px !important;
    height: auto !important;
    
    img {
        border-radius: 40px !important;
        object-fit: fill !important;
    }
}